@model IEnumerable<bloodsaver.Models.registration>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<head>
    <title></title>
    <script src="jquery-1.11.2.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js">
    </script>
</head>
<script type="text/javascript">
    $(document).ready(function () {
        $('#x').DataTable({
            colReorder: true
        });
    });
</script>

<style type="text/css" >
    /*#line {
        margin-left: 13%;
        margin-right: 13%;
    }*/

</style>

<h2 align="center">Members
     </h2>
<p align="center">All Members that you selected.</p>
<hr id="line"/>
<br />

<div align="center" >
    <table border="1" id="x">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cnic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bloodgroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cellno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statuscell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th> Contact </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cnic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bloodgroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cellno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.statuscell)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.ActionLink("Message", "Message", new { id = item.id })

                </td>
            </tr>
        }

    </table>
</div>
<br />